!!!
%html{:manifest => 'manifest'}
  %head
    %title Mark Percival's Dubious Economist
    %script{ :type => "text/javascript", :src => "javascripts/jquery-1.4.2.min.js"}
    %script{ :type => "text/javascript", :src => "javascripts/magazine.js"}
    %script{ :type => "text/javascript", :src => "javascripts/economist.js"}
    %link{"rel" => "stylesheet", "href" => "reset.css", "type" => "text/css"}
    %link{"rel" => "stylesheet", "href" => "economist.css", "type" => "text/css"}
  %body
    %h4 Loading the current economist
